


.card {

  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.read-the-docs {
  color: #888;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 40vmin;
  pointer-events: none;
  will-change: filter;
  transition: filter 300ms;
}

.mylogo{
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  will-change: filter;
  transition: filter 300ms;
}

.mylogo:hover {
  filter: drop-shadow(0 0 2em #6166fbaa);
}

.intro {
  color: #ffffff;
}

.skills {
  color:#9acc14
}


.resume {
  width:auto;
  height:auto;
}

/* Basic height for smaller screens */
.carousel {
  height: 400px; /* Default height */
}

/* Adjust height for larger screens */
@media (min-width: 768px) {
  .carousel {
    height: 600px; /* Increased height */
  }
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*
.rocket img {

  width: auto;
  height: auto; 
  margin: auto; 
  object-fit: cover; 
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}